<div class="flex justify-center items-center h-screen">
  <div class="w-full max-w-md">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <%= form_with url: session_path, class: "contents" do |form| %>
        <div class="mb-4">
          <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username",
          placeholder: "Enter your email address", class: "input-custom", value: params[:email_address] %>
        </div>
        <div class="mb-4">
          <%= form.password_field :password, class: "input-custom", required: true, autocomplete: "current-password",
            placeholder: "Enter your password", maxlength: 72 %><br>
        </div>
        <%= form.submit "Sign in", class: "button-submit" %>
      <% end %>

      <%= link_to "Forgot password?", new_password_path, class: "link-custom ml-5" %>
    </div>
  </div>
</div>
