<!DOCTYPE html>
<html>
  <head>
    <title>Admin Panel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "@fortawesome/fontawesome-free/css/all.min" %>

    <%= javascript_importmap_tags %>

    <!-- Keep the height of the page to 100% when navigate from other pages -->
    <style>
      html, body {
        height: 100%;
      }
    </style>
  </head>
  <!-- Sidebar navigation -->
  <body class="flex" data-controller="sidebar">
    <%= tag.div data: { sidebar_target: "sidebar" },
        class: "bg-gray-800 text-white #{sidebar_state} space-y-6 px-2 absolute inset-y-0 transform -translate-x-full md:relative md:translate-x-0 transition-all duration-200 ease-in-out z-10 h-full" do %>
      <div class="text-white flex items-center space-x-2 p-4">
        <span class="text-2xl font-extrabold mt-6 min-h-8">
          <%= tag.span "Admin Panel", data: { sidebar_target: "text" }, class: sidebar_text_state %>
        </span>
      </div>

      <button class="text-gray-500 focus:outline-none absolute top-5 right-5 z-20" data-action="click->sidebar#toggleMinimize">
        <%= tag.svg data: { sidebar_target: "minIcon" }, xmlns: "http://www.w3.org/2000/svg", class: sidebar_min_icon_state, fill: "none", viewBox: "0 0 24 24", stroke: "currentColor" do %>
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
        <% end %>
        <%= tag.svg data: { sidebar_target: "maxIcon" }, xmlns: "http://www.w3.org/2000/svg", class: sidebar_max_icon_state, fill: "none", viewBox: "0 0 24 24", stroke: "currentColor" do %>
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
        <% end %>
      </button>

      <nav>
        <ul>
          <%= sidebar_menu_item(admin_path, "fa-tachometer-alt", "Dashboard") %>
          <%= sidebar_menu_item(admin_users_path, "fa-users", "Users") %>
          <%= sidebar_menu_item(session_path, "fa-sign-out-alt", "Sign out", data: { turbo_method: :delete}) %>
        </ul>
      </nav>
    <% end %>

    <button data-action="click->sidebar#toggle" class="md:hidden text-gray-500 focus:outline-none absolute top-3 left-4 z-20">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
      </svg>
    </button>

    <!-- Main content -->
    <div class="flex-1 p-10">
      <%= yield %>
    </div>

    <div data-controller="modal" class="hidden fixed inset-0 flex items-center justify-center bg-gray-400 bg-opacity-0">
      <%= turbo_frame_tag "modal", data: { modal_target: "content" } do %>
      <% end %>
      <div data-modal-target="loader" class="loader">Loading...</div>
    </div>
  </body>
</html>
